In [1]:
import sys
sys.executable

'c:\\Users\\devma\\Projetos\\customer-retention-analytics\\.venv\\Scripts\\python.exe'

## Iniciando Analise Trimestral sem Anomalias

In [6]:
import os
import pandas as pd
import urllib.parse
from dotenv import load_dotenv
from sqlalchemy import create_engine, text
import matplotlib.pyplot as plt
# 1. Carregar vari√°veis de ambiente (DEVE vir primeiro)
load_dotenv()

# 2. Configura√ß√£o das credenciais
user     = os.getenv("PROD_POSTGRES_USERNAME")
password = urllib.parse.quote_plus(os.getenv("PROD_POSTGRES_PASSWORD"))
host     = os.getenv("PROD_POSTGRES_HOST")
database = os.getenv("PROD_POSTGRES_DATABASE")
port     = os.getenv("POSTGRES_PORT", "5432")

conn_url = f"postgresql://{user}:{password}@{host}:{port}/{database}"
engine = create_engine(conn_url)

try:
    with engine.connect() as conn:
        df_churn_trimestral = pd.read_sql(text(sql_query), conn)

    print("‚úÖ Sucesso! Os dados foram carregados em 'df_churn_anual'.")
    print(df_churn_trimestral.head())

except Exception as e:
    print(f" Erro ao executar consulta: {e}")

# 1. Carregar vari√°veis de ambiente do arquivo .env
load_dotenv()

# 2. Configura√ß√£o das credenciais com tratamento para caracteres especiais (como o '@')
# Mude apenas esta parte do c√≥digo anterior:
user     = os.getenv("PROD_POSTGRES_USERNAME")
password = urllib.parse.quote_plus(os.getenv("PROD_POSTGRES_PASSWORD"))
host     = os.getenv("PROD_POSTGRES_HOST")
database = os.getenv("PROD_POSTGRES_DATABASE")
port     = os.getenv("POSTGRES_PORT", "5432") # A porta costuma ser a mesma
# 3. Constru√ß√£o da URL de conex√£o e cria√ß√£o do Engine
conn_url = f"postgresql://{user}:{password}@{host}:{port}/{database}"
engine = create_engine(conn_url)

# 4. Defini√ß√£o da sua Query SQL de Churn Anual
sql_query = """
WITH base_contratos AS (
    SELECT DISTINCT
        c.nr_central_sigma,
        ccc.codigo_contrato,
        ccc.data_pedido AS data_inicio,
        ccc.data_rescisao,
        (
            SELECT mcc.situacao
            FROM movimento_contratos_cli mcc
            WHERE mcc.codigo_contrato = ccc.codigo_contrato
              AND mcc.situacao <> 7
            ORDER BY mcc.data_conclusao DESC
            LIMIT 1
        ) AS situacao_movimento
    FROM clientes c
    INNER JOIN cab_contratos_cli ccc 
        ON ccc.codigo_cliente = c.codigo_cliente
),

clientes_com_contrato_ativo AS (
    SELECT DISTINCT nr_central_sigma
    FROM base_contratos
    WHERE data_rescisao IS NULL
),

churn_por_cliente AS (
    SELECT
        bc.nr_central_sigma,
        MAX(bc.data_rescisao) AS data_churn
    FROM base_contratos bc
    WHERE bc.data_rescisao IS NOT NULL
      AND bc.nr_central_sigma NOT IN (
            SELECT nr_central_sigma FROM clientes_com_contrato_ativo
      )
    GROUP BY bc.nr_central_sigma
),

-- üìÖ Calend√°rio fixo trimestral de 2015 a 2025
calendario_trimestres AS (
    SELECT generate_series(
        DATE '2015-01-01',
        DATE '2025-12-31',
        INTERVAL '3 months'
    )::date AS trimestre
),

churn_trimestral AS (
    SELECT
        DATE_TRUNC('quarter', ch.data_churn) AS trimestre_churn,
        COUNT(DISTINCT ch.nr_central_sigma) AS clientes_churn
    FROM churn_por_cliente ch
    WHERE ch.data_churn BETWEEN '2015-01-01' AND '2025-12-31'
    GROUP BY 1
),

clientes_ativos_inicio_trimestre AS (
    SELECT
        ct.trimestre,
        COUNT(DISTINCT bc.nr_central_sigma) AS total_clientes_inicio
    FROM calendario_trimestres ct
    LEFT JOIN base_contratos bc
        ON bc.data_inicio < ct.trimestre
       AND (bc.data_rescisao IS NULL OR bc.data_rescisao >= ct.trimestre)
    GROUP BY ct.trimestre
)

SELECT
    CONCAT(
        EXTRACT(YEAR FROM cat.trimestre),
        '-Q',
        EXTRACT(QUARTER FROM cat.trimestre)
    ) AS periodo_trimestral,

    cat.total_clientes_inicio AS clientes_inicio_trimestre,
    COALESCE(ct.clientes_churn, 0) AS total_churn_no_trimestre,

    ROUND(
        (COALESCE(ct.clientes_churn,0)::numeric 
        / NULLIF(cat.total_clientes_inicio,0)::numeric) * 100
    ,2) AS churn_rate_trimestral_percentual,

    CASE 
        WHEN (COALESCE(ct.clientes_churn,0)::numeric / NULLIF(cat.total_clientes_inicio,0)) * 100 > 6 THEN 'CR√çTICO (>6%)'
        WHEN (COALESCE(ct.clientes_churn,0)::numeric / NULLIF(cat.total_clientes_inicio,0)) * 100 > 4.5 THEN 'ALERTA'
        ELSE 'DENTRO DA META'
    END AS analise_saude

FROM clientes_ativos_inicio_trimestre cat
LEFT JOIN churn_trimestral ct 
       ON cat.trimestre = ct.trimestre_churn

WHERE cat.trimestre BETWEEN '2015-01-01' AND '2025-12-31'
ORDER BY cat.trimestre;

"""

# 5. Execu√ß√£o e salvamento no DataFrame df_churn_anual
try:
    df_churn_trimestral = pd.read_sql(sql_query, engine)
    print(" Sucesso! Os dados foram carregados em 'df_churn_anual'.")
    
    # Exibir as primeiras linhas para confer√™ncia
    print(df_churn_trimestral.head())

except Exception as e:
    print(f" Erro ao executar consulta: {e}")

‚úÖ Sucesso! Os dados foram carregados em 'df_churn_anual'.
  periodo_trimestral  clientes_inicio_trimestre  total_churn_no_trimestre  \
0            2015-Q1                       4314                       242
1            2015-Q2                       4374                       254
2            2015-Q3                       4427                       229
3            2015-Q4                       4588                       223
4            2016-Q1                       4679                       231

   churn_rate_trimestral_percentual analise_saude
0                              5.61        ALERTA
1                              5.81        ALERTA
2                              5.17        ALERTA
3                              4.86        ALERTA
4                              4.94        ALERTA
 Erro ao executar consulta: sqlalchemy.cyextension.immutabledict.immutabledict is not a sequence

In [7]:
df_churn_trimestral

,periodo_trimestral,clientes_inicio_trimestre,total_churn_no_trimestre,churn_rate_trimestral_percentual,analise_saude
0,2015-Q1,4314,242,5.61,ALERTA
1,2015-Q2,4374,254,5.81,ALERTA
2,2015-Q3,4427,229,5.17,ALERTA
3,2015-Q4,4588,223,4.86,ALERTA
4,2016-Q1,4679,231,4.94,ALERTA
5,2016-Q2,4778,249,5.21,ALERTA
6,2016-Q3,4814,236,4.90,ALERTA
7,2016-Q4,4716,232,4.92,ALERTA
8,2017-Q1,4562,200,4.38,DENTRO DA META
9,2017-Q2,4448,188,4.23,DENTRO DA META
10,2017-Q3,4367,209,4.79,ALERTA
11,2017-Q4,4277,145,3.39,DENTRO DA META
12,2018-Q1,4244,187,4.41,DENTRO DA META
13,2018-Q2,4220,171,4.05,DENTRO DA META
14,2018-Q3,4194,212,5.05,ALERTA
15,2018-Q4,4185,145,3.46,DENTRO DA META
16,2019-Q1,4189,151,3.60,DENTRO DA META
17,2019-Q2,4215,160,3.80,DENTRO DA META
18,2019-Q3,4262,179,4.20,DENTRO DA META
19,2019-Q4,4280,134,3.13,DENTRO DA META
20,2020-Q1,4458,135,3.03,DENTRO DA META
21,2020-Q2,4502,144,3.20,DENTRO DA META
22,2020-Q3,4551,126,2.77,DENTRO DA META
23,2020-Q4,4620,147,3.18,DENTRO DA META
24,2021-Q1,4718,140,2.97,DENTRO DA META
25,2021-Q2,4763,180,3.78,DENTRO DA META
26,2021-Q3,5483,163,2.97,DENTRO DA META
27,2021-Q4,6219,244,3.92,DENTRO DA META
28,2022-Q1,6226,242,3.89,DENTRO DA META
29,2022-Q2,6200,277,4.47,DENTRO DA META
30,2022-Q3,6269,291,4.64,ALERTA
31,2022-Q4,6418,188,2.93,DENTRO DA META
32,2023-Q1,6752,252,3.73,DENTRO DA META
33,2023-Q2,6744,252,3.74,DENTRO DA META
34,2023-Q3,6791,199,2.93,DENTRO DA META
35,2023-Q4,6897,266,3.86,DENTRO DA META
36,2024-Q1,6830,245,3.59,DENTRO DA META
37,2024-Q2,6840,216,3.16,DENTRO DA META
38,2024-Q3,6853,214,3.12,DENTRO DA META
39,2024-Q4,6882,278,4.04,DENTRO DA META
40,2025-Q1,9581,370,3.86,DENTRO DA META
41,2025-Q2,9634,500,5.19,ALERTA
42,2025-Q3,9428,605,6.42,CR√çTICO (>6%)
43,2025-Q4,9065,721,7.95,CR√çTICO (>6%)